

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.hero {
  background-image: url(../Assets/Hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  position: relative;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Optional overlay */
.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
}

nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: blue;
}

.signup-btn {
  background-color: #00A8E8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.hero-content {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 80px;
  color: black;
}

.hero-content h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 20px;
}

.cta-btn {
  background-color: #00A8E8;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}